<div
  id="archive_ui"
  hx-target="this"
  hx-swap="outerHTML"
  class="flex h-full justify-center space-x-3"
>
  {% if archive_t.status() == "Waiting" %}
  <button
    class="flex rounded-lg border text-slate-100 bg-indigo-500 shadow-md font-semibold shadow-indigo-900 transition delay-150 ease-in-out hover:scale-110 hover:bg-indigo-700"
    hx-post="/contacts/archive"
  >
    <img src="/assets/save.svg" class="h-9 w-9 pt-2" />
    <div class="p-2">Download.</div>
  </button>
  {% else if archive_t.status() == "Running" %}
  <div
    class="text-slate-900"
    hx-get="/contacts/archive"
    hx-trigger="load delay:500ms"
  >
    Creating Archive...
    <div class="h-3 w-32 rounded-full bg-slate-400">
      <div
        class="h-3 rounded-full bg-indigo-600 transition-all duration-500 ease-linear"
        id="progress-bar"
        role="progressbar"
        aria-valuenow="{{ archive_t.progress() * 100.0 }}"
        style="width:{{ archive_t.progress() * 100.0 }}%"
      ></div>
    </div>
  </div>
  {% else if archive_t.status() == "Complete" %}
  <a
    hx-boost="false"
    class="rounded-lg border bg-indigo-300 p-2 align-middle font-semibold shadow-md shadow-indigo-900 transition delay-150 ease-in-out hover:scale-110 hover:bg-indigo-500"
    href="/contacts/archive/file"
    _="on load click() me"
  >
    Download Ready! &downarrow;</a
  >
  <button
    class="rounded-lg border bg-indigo-300 p-2 align-middle font-semibold shadow-md shadow-indigo-900 transition delay-150 ease-in-out hover:scale-110 hover:bg-indigo-500"
    hx-delete="/contacts/archive/file"
  >
    X
  </button>
  {% endif %}
</div>
