<div
id="archive_ui"
hx-target="this"
hx-swap="outerHTML"
class="flex h-12 w-full space-x-3 p-0"
> 
  {% if archive_t.status() == "Waiting" %}
  <button
    class="px-3 py-2 font-bold text-lg"
    hx-post="/contacts/archive"
  >
    <!--<img src="/assets/save.svg" class="h-9 w-9 pt-2" />-->
    <i class="fa-solid fa-download px-1 text-secondary mr-1.5"></i>
    Download
  </button>
  {% else if archive_t.status() == "Running" %}
  <div
  class="text-md p-3 flex font-bold text-md"
  hx-get="/contacts/archive"
  hx-trigger="load delay:500ms"
  >
    Creating Archive... 
    <div class="h-3 w-28 rounded-full bg-base-content m-auto">
      <div
        class="h-3 rounded-full bg-secondary transition-all duration-500 ease-linear"
        id="progress-bar"
        role="progressbar"
        aria-valuenow="{{ archive_t.progress() * 100.0 }}"
        style="width:{{ archive_t.progress() * 100.0 }}%"
      ></div>
    </div>
  </div>
  {% else if archive_t.status() == "Complete" %}
  <a
    hx-boost="false"
    class="p-3 w-full font-bold text-lg text-left"
    href="/contacts/archive/file"
    _="on load click() me"
  >
    Click to 
    <i class="fa-solid fa-download"></i>
  </a
  >
  <button
    class="p-3 text-right"
    hx-delete="/contacts/archive/file"
  >
    <i class="fa-solid fa-circle-xmark fa-lg"></i>
  </button>
  {% endif %}
</div>
