<!doctype html>
<html lang="en" data-theme="business">
  <head>
    <link rel="stylesheet" href="../assets/o-tailwind.css" />
    <link rel="stylesheet" href="../assets/fontawersome/css/all.min.css" />
    <link rel="stylesheet" href="../assets/fontawersome/css/fontawesome.min.css" />
    <link rel="stylesheet" href="../assets/inter.css"/>
<!--     <link rel="stylesheet" href="https://rsms.me/inter/inter.css"/>
 -->
    <link rel="icon" type="image/x-icon" href="/assets/favicon.ico" />
    <!--
    <link rel="icon" href="/assets/gift-solid.svg" sizes="any" type="image/svg+xml">
    <script src="/assets/htmx.min.js"></script>
    -->   
    <script src="/assets/htmx1-9-12.min.js"></script>
    <script src="https://unpkg.com/hyperscript.org@0.9.12"></script>
    <!--
    <script src="https://kit.fontawesome.com/bab82eebbb.js" 
    crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/theme-change@2.0.2/index.js"></script>
    -->    
    <title>{% block title %} {{ title }} {% endblock %}</title>
    {% block head %}{% endblock %}
  </head>
  <body class="h-screen flex flex-col" hx-boost="true">
    <header class="navbar bg-base-300 border-2 border-neutral">
      <div class="flex-none">
        <label for="my-drawer-2" class="btn btn-ghost drawer-button lg:hidden">
          <i class="fa-solid fa-bars fa-lg"></i>
        </label>
      </div>
      <div class="flex-none">
        <a class="btn btn-ghost text-xl font-bold"
        href="/"
        >
          <i class="fa-solid fa-gift fa-rotate-by fa-xl text-accent"></i>
          <!--<img src="/assets/favicon.ico" class="h-6 w-6">-->
          Birthday Contacts
        </a>
      </div>
      <div class="flex-1">
        <ul class="menu menu-horizontal px-1">
          <li><a href="/contacts/show?page_p=1&birthday_p=0">
            <i class="fa-solid fa-address-book px-1 text-secondary"></i></a>
          </li>
          <li><a href="/contacts/show?page_p=1&birthday_p=1">
            <i class="fa-solid fa-list px-1 text-secondary"></i></a>
          </li>
          
          <li><a>Docs</a></li>
          <li>
            <details>
              <summary>
                Support
              </summary>
              <ul class="p-2 bg-base-100 rounded-t-none z-10">
                <li><a>FAQ</a></li>
                <li><a>Guides</a></li>
              </ul>
            </details>
          </li>
        </ul>
      </div>
<!--       <div class="flex-none px-2">
        <label class="flex cursor-pointer gap-2">
          <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" 
          viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" 
          stroke-linecap="round" stroke-linejoin="round"><circle cx="12" cy="12" 
          r="5"/><path d="M12 1v2M12 21v2M4.2 4.2l1.4 1.4M18.4 18.4l1.4 1.4M1 12h2M21 
          12h2M4.2 19.8l1.4-1.4M18.4 5.6l1.4-1.4"/></svg>
          <input data-toggle-theme="light,night" checked type="checkbox" value="night"
           class="toggle theme-controller"/>
          <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" 
          viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" 
          stroke-linecap="round" stroke-linejoin="round"><path 
          d="M21 12.79A9 9 0 1 1 11.21 3 7 7 0 0 0 21 12.79z"></path></svg>
        </label>
      </div>
 -->      <div class="flex-none px-1">
        <a class="btn btn-square btn-ghost"
        href="https://github.com/airmarkes/contacts-app"
        target="_blank">
          <i class="fa-brands fa-github fa-xl"></i>
        </a>
      </div>
      
      <div class="flex-none px-1">
        <a class="btn btn-square btn-ghost"
        href="/login">
          <i class="fa-solid fa-arrow-right-to-bracket fa-lg"></i>
        </a>
      </div>
    </header>
    <main
    class="mb-auto h-auto bg-base-200" 
    id="content"
    > 
      <div class="drawer lg:drawer-open h-full mb-auto">
        <input id="my-drawer-2" type="checkbox" class="drawer-toggle" />
        <div class="drawer-content flex flex-col items-start md:items-center 
        justify-start min-h-[calc(100vh-118px)] mb-auto bg-base200" 
        id="newcontent"
        > 
          <!-- Page content here -->

            {% block content %}{% endblock %}
            
          <!-- Page endscontent here -->
        </div> 
        <div class="drawer-side z-10 lg:h-full">
          <label for="my-drawer-2" aria-label="close sidebar" class="drawer-overlay"></label> 
          <ul class="menu p-4 w-81 min-h-full bg-base-300 text-base-content space-y-3">
            <li>
              <a
                class="px-3 py-2 font-bold text-lg"
                href="/contacts/new?id=0&first_name=&last_name=&phone=&email=&birth_date=&time_creation="
              >
                <i class="fa-solid fa-user-plus px-1 text-secondary"></i>
                Add a new contact
              </a>
            </li>
            <li>
              <a
                class="px-3 py-2 font-bold text-lg"
                href="/contacts/show?page_p=1&birthday_p=0"
              >
                <i class="fa-solid fa-address-book px-1 text-secondary"></i>
                Show all contacts
              </a>
            </li>
            <li>
              <a
                class="px-3 py-2 font-bold text-lg"
                href="/contacts/show?page_p=1&birthday_p=1"
              >
              <i class="fa-solid fa-list px-1 text-secondary"></i>
                Upcoming birthdays
              </a>
            </li>
            <li>
              <a
                class="px-3 py-2 font-bold text-lg"
                href="#"
              >
              <i class="fa-solid fa-list-check px-1 text-secondary"></i>
                Previous birthdays
              </a>
            </li>
            <li>
              <a
                class="px-3 py-2 font-bold text-lg"
                href="#"
              >
              <i class="fa-solid fa-screwdriver-wrench px-1 text-secondary"></i>
                New feature coming soon
              </a>
            </li>
            <li>
              {% include "archive_ui.html" %}
            </li>
          </ul>
        </div>
      </div> 
    </main>
    <footer
      class="footer footer-center bg-base-300 p-3 text-base-content h-auto"
    >
    <aside>
      <p>Copyright © 2024 - All right reserved by Sofiatwares .</p>
    </aside> 
    </footer>
  </body>
</html>
