{% extends "base.html" %} {% block title %} Birthday Contacts {% endblock %} {% block
content %}


<div class="hero min-h-[calc(100vh-118px)] bg-base-100 border-2 rounded-full">
  <div class="hero-content text-center">
    <div class="max-w-md">
      <h1 class="text-6xl font-bold text-accent pb-3">Hello!</h1>
      <p class="py-6 text-3xl text-primary">
        Are you tired of forgetting important people's birthday?!? 
        </span>
      </p>
      <p class="pb-6 text-lg text-base-content">
        <span class="text-accent">Birthday Contacts</span> is a contact's list that can sort by upcoming birthdays for you.
      </p>
      <a class="btn btn-secondary btn-wide rounded-xl font-bold text-xl mt-3"
      href="/contacts/show?page_p=1&birthday_p=0"
      >
        Get Started
      <i class="fa-regular fa-hand-pointer fa-lg px-2"></i>
      </a>
    </div>
  </div>
</div>

{% endblock %}
