{% extends "base.html" %} {% block title %} Portfolio {% endblock %} {% block
content %}
<div class="mx-auto">
  <h1 class="block text-center text-2xl font-extrabold text-primary py-9">Hello, {{name}}</h1>
  
  <h1 class="block text-center text-xl font-bold text-neutral-content">
    Welcome to the Menu, choose the app:
  </h1>
  
  <div class="py-9 flex justify-center space-x-12">
    <a
      class="btn btn-secondary btn-lg rounded-full border px-3 font-bold text-lg"
      href="/contacts/show?page_p=1&birthday_p=0"
    >
      Contacts app
    </a>
  </div>
</div>
{% endblock %}
