{% extends "base.html" %} {% block title %} Add a Contact {% endblock %} {%
block content %}

<form action="/contacts/new" method="post" class="mx-auto">

  <legend class="w-full py-3 text-center text-2xl font-bold text-secondary">
    Create a new contact!
  </legend>

  <label class="form-control w-full max-w-xs">
    <div class="label">
      <span class="label-text text-primary">First name</span>
      <span class="label-text-alt">Eg. Elvis</span>
    </div>
    <input type="text" placeholder="Type here" name="first_p" id="first"
      class="input input-bordered  w-full max-w-xs" value="{{ contact_t.first_name }}"
    />
    <div class="label">
      <span class="label-text-alt text-error">{{ errors_t.first_error }}</span>
    </div>
  </label>

  <label class="form-control w-full max-w-xs">
    <div class="label">
      <span class="label-text text-primary">Last name</span>
      <span class="label-text-alt">Eg. Presley da Silva</span>
    </div>
    <input type="text" placeholder="Type here" name="last_p" id="last"
      class="input input-bordered  w-full max-w-xs" value="{{ contact_t.last_name }}"
    />
    <div class="label">
      <span class="label-text-alt text-error">{{ errors_t.last_error }}</span>
    </div>
  </label>

  <label class="form-control w-full max-w-xs">
    <div class="label">
      <span class="label-text text-primary">Email</span>
      <span class="label-text-alt">Eg. elvis123@gmail.com</span>
    </div>
    <input type="email" placeholder="Type here" name="email_p" id="new_email"
      class="input input-bordered  w-full max-w-xs" value="{{ contact_t.email }}"
      hx-get="/contacts/validate_email?id_p={{contact_t.id }}"
      hx-include="#email"
      hx-target="next span"
      hx-trigger="change, keyup delay:600ms changed"
      hx-push-url="true"
    />
    <div class="label">
      <span class="label-text-alt text-error">{{ errors_t.email_error }}
        {{ errors_t.email_unique_error }}
      </span>
    </div>
  </label>
  
  <label class="form-control w-full max-w-xs">
    <div class="label">
      <span class="label-text text-primary">Phone</span>
      <span class="label-text-alt">Eg. 981960771</span>
    </div>
    <input type="tel" placeholder="Type here" name="phone_p" id="phone"
      class="input input-bordered  w-full max-w-xs" value="{{ contact_t.phone }}"
    />
    <div class="label">
      <span class="label-text-alt text-error">{{ errors_t.phone_error }}</span>
    </div>
  </label>

  <label class="form-control w-full max-w-xs">
    <div class="label">
      <span class="label-text text-primary">Birthday</span>
      <span class="label-text-alt">Eg. dd/mm/aaaa</span>
    </div>
    <input type="date" placeholder="Type here" name="birth_p" id="birth"
      class="input input-bordered  w-full max-w-xs" value="{{ contact_t.birth_date }}"
    />
    <div class="label">
      <span class="label-text-alt text-error">{{ errors_t.birth_error }}</span>
    </div>
  </label>

  <div class="flex justify-center space-x-3">
    <button class="btn btn-secondary btn-sm font-bold" type="submit">
      Save
    </button>
    <a class="btn btn-primary btn-sm font-bold" 
    href="/contacts/show?page_p=1"
    >
      Back
    </a>
  </div>
</form>

{% endblock %}
