{% extends "base.html" %} {% block title %} Data Monitoring {% endblock %} {%
block content %}
<header>
  <nav>
    <ul>
      <li><a href="#">Overview</a></li>
      <li><a href="#">Status</a></li>
      <li><a href="#">Tasks</a></li>
      <li><a href="#">Lifetime</a></li>
      <li><a href="#">Sympthoms</a></li>
    </ul>
    <form action="/hello" method="get">
      <label>Search:</label>
      <input type="text" name="name" placeholder="Enter name.." />
      <input type="text" name="salutation" placeholder="Enter salutation.." />
      <button>Submit</button>
    </form>
  </nav>
</header>

<h1>Nature, nurture heaven and home..</h1>
<!-- weird comment syntax-->
<figure>
  <img src="../assets/logo.jpeg" alt="logo" height="180" />
  <figcaption>.. Sum of all, and by them, driven..</figcaption>
</figure>

<p>Created by: Air</p>
<h2>Health Status</h2>
<ul>
  <li>
    <a href="#">Stress </a>
    <h5>High</h5>
  </li>
  <li>
    <a href="#">Stamina:</a>
    <h6>Good</h6>
  </li>
</ul>
<h2>Causes Status</h2>
<p>Air:</p>
<ul>
  <li>
    <a href="#">Air Temperature:</a>
    <h6>Good</h6>
  </li>
  <li>
    <a href="#">Air Humidity:</a>
    <h6>Good</h6>
  </li>
  <li>
    <a href="#">Air Co2 Level:</a>
    <h5>Low</h5>
  </li>
  <li>
    <a href="#">Air Vapor Preassure Dif:</a>
    <h6>Good</h6>
  </li>
</ul>
<p>Water:</p>
<ul>
  <li>
    <a href="#">Water Temperature:</a>
    <h5>High</h5>
  </li>
  <li>
    <a href="#">Water pH:</a>
    <h4>Very Low</h4>
  </li>
  <li>
    <a href="#">Water TDS:</a>
    <h6>Good</h6>
  </li>
  <li>
    <a href="#">Water TDS balance:</a>
    <h6>Good</h6>
  </li>
  <li>
    <a href="#">Water Level:</a>
    <h6>Good</h6>
  </li>
</ul>

<h2>Preventive Tasks</h2>
<ul>
  <li>
    Check Equips:
    <h6>0 days</h6>
  </li>
  <li>
    Check Leaves:
    <h5>4 days</h5>
  </li>
  <li>
    Check Roots:
    <h4>12 days</h4>
  </li>
</ul>
<h2>Corrective Tasks</h2>
<ul>
  <li>
    Add Water:
    <h6>0 days</h6>
  </li>
  <li>
    Add pH:
    <h5>4 days</h5>
  </li>
  <li>
    Add TDS:
    <h4>12 days</h4>
  </li>
  <li>
    Add AC:
    <h4>12 days</h4>
  </li>
  <li>
    Add Co2:
    <h4>12 days</h4>
  </li>
</ul>
<section class="lifetime">
  <h2>Lifetime Cycle</h2>
  <p>Remaining Time 127 days [15% completed]</p>
  <p>Age: 22 days</p>
  <p>Estimated Time: 150 days</p>
</section>
<h2>Week Old Symphtoms</h2>
<ol>
  <li>Overall - Stunted</li>
  <li>Old leaves - Whithered</li>
  <li>New leaves - Yellowed</li>
  <li>Old tips - None</li>
  <li>New tips - None</li>
  <li>Roots - None</li>
</ol>
<section class="tips">
  <h2>Tip of the day</h2>
  <p>Refresh Water Weekly..</p>
</section>
<footer>
  <p>Find more <a href="#">about us.</a></p>
</footer>
{% endblock %}
