<!-- .. -->
{% extends "base.html" %} 
{% block title %} List of Contacts {% endblock %} 
{% block content %}

<div
  id="fire_reload"
  hx-get="/contacts/count"
  hx-trigger="fire_reload from:body"
  hx-target="#contacts_count"
>
</div>

<div class="text-center bg-success text-success-content text-lg w-full font-bold">
  {{ messages_t }}
</div>

    
<div class="flex p-2 space-x-6">
  
  <div class="flex justify-between space-x-3">
    <!-- <input class="rounded-md border border-slate-600 px-1 shadow-lg shadow-indigo-900"-->
    <label class="input input-bordered input-primary flex items-center gap-2">
      <input class="grow"   
      id="search"
      type="search"
      name="search_p"
      placeholder="Search (or type bday)"
      value="{{ search_t }}"
      hx-get="/contacts/show?page_p=1"
      hx-include="#search"
      hx-trigger="change, keyup delay:300ms changed"
      hx-target="#tbody"
      hx-push-url="true"
      hx-indicator="#spinner"
      />
      <i class="fa-solid fa-magnifying-glass fa-lg" style="color: #74C0FC;"></i>   
    </label>
    <span id="spinner" class="htmx-indicator loading loading-bars loading-sm text-primary"></span>
  </div>

  <div class="pt-3 font-semibold text-accent">
    {{ time_t }}
  </div>

  <div
  id="contacts_count"
  class="pt-3 font-semibold text-accent"
  hx-get="/contacts/count"
  hx-trigger="load delay:300ms"
  >
    <span class="loading loading-bars loading-md text-accent"></span>
    <!--<img src="/assets/spinner.svg" class="h-6 w-6 animate-spin" />-->
  </div>
</div>

<div class="overflow-x-auto">
   <form enctype="application/x-www-form-urlencoded">
    <table class="table-lg">
      <thead>
        <tr>
          <th>
            <button
              class="btn btn-secondary btn-xs"
              hx-delete="/contacts/show"
              hx-confirm="Are you sure you want to delete these contacts?"
              hx-target="body"
            >
              <i class="fa-solid fa-trash-can"></i>         
            </button>
          </th>
          <th >
            ID
          </th>
          <th >
            First Name
          </th>
          <th >
            Last Name
          </th>
          <th >
            Birth Date
          </th>
          <!--  <th class="table-cell rounded-md bg-indigo-300 px-2 py-1 text-left">Phone</th>
          <th class="table-cell rounded-md bg-indigo-300 px-2 py-1 text-left">Email</th> 
          <th class="table-cell rounded-md bg-indigo-300 px-2 py-1 text-left">
            Creation Time
          </th> -->
          <th>
            Actions
          </th>
        </tr>
      </thead>
      <tbody id="tbody">
        {% include "show_rows.html" %}
      </tbody>
    </table>
  </form>
</div>
{% endblock %}
