<!-- .. -->
{% extends "base.html" %} 
{% block title %} List of Contacts {% endblock %} 
{% block time %}  {{ time_t }} {% endblock %}
{% block content %}

<div
  id="fire_reload"
  hx-get="/contacts/count"
  hx-trigger="fire_reload from:body"
  hx-target="#contacts_count"
>
</div>

<div class="text-center bg-success text-success-content text-lg w-full">
  {{ messages_t }}
</div>

    
<div class="flex justify-center space-x-6 py-9">
  
  <div class="flex justify-between space-x-3">
    <!-- <input class="rounded-md border border-slate-600 px-1 shadow-lg shadow-indigo-900"-->
    <input     
    class="input input-bordered input-primary"
    id="search"
    type="search"
    name="search_p"
    placeholder="Search (or type bday)"
    value="{{ search_t }}"
    hx-get="/contacts/show?page_p=1"
    hx-include="#search"
    hx-trigger="change, keyup delay:300ms changed"
    hx-target="#tbody"
    hx-push-url="true"
    hx-indicator="#spinner"
    />
    <span id="spinner" class="htmx-indicator loading loading-spinner text-primary"></span>
      <!-- <div class="min-w-9 p-2">
        <img
          id="spinner"
          class="htmx-indicator h-7 w-7 animate-spin"
          src="/assets/spinner.svg"
          alt="Request in flight.."
        /> 
      </div>-->
  </div>
</div>

<div class="flex justify-center">
  <form enctype="application/x-www-form-urlencoded">
    <table class="table-lg">
      <thead>
        <tr>
          <th >
            <button
              class="btn btn-outline btn-accent btn-xs"
              hx-delete="/contacts/show"
              hx-confirm="Are you sure you want to delete these contacts?"
              hx-target="body"
            >
              X
            </button>
          </th>
          <th >
            ID
          </th>
          <th >
            First Name
          </th>
          <th >
            Last Name
          </th>
          <th >
            Birth Date
          </th>
          <!--  <th class="table-cell rounded-md bg-indigo-300 px-2 py-1 text-left">Phone</th>
          <th class="table-cell rounded-md bg-indigo-300 px-2 py-1 text-left">Email</th> 
          <th class="table-cell rounded-md bg-indigo-300 px-2 py-1 text-left">
            Creation Time
          </th> -->
          <th>
            Actions
          </th>
        </tr>
      </thead>
      <tbody class="relative" id="tbody">
        {% include "show_rows.html" %}
        <div
          class="htmx-indicator absolute left-1/2 top-1/2 -translate-x-1/2 -translate-y-1/2"
          id="full_spinner"
        >
          <img src="/assets/spinner.svg" class="h-12 w-12 animate-spin" />
        </div>
      </tbody>
    </table>
  </form>
</div>
{% endblock %}
