{% extends "base.html" %} {% block title %} Login {% endblock %} 
{% block content %}

<form class="mx-auto border-2 border-neutral rounded-xl px-6 p-3 mt-3 min-w-80 bg-base-100" 
method="post">

  <ul class="w-full" id="flash_user">
    {% for message in messages %}
    <li>
      {% if message.level == Level::Error %}
      <button class="text-center bg-error text-error-content rounded-full text-lg font-semibold w-full"
      hx-get="/utils/close-flash"
      hx-target="#flash_user">
        {{ message }}
        <i class="fa-regular fa-circle-xmark"></i>
      </button>
      {% else %}
      <button class="text-center bg-success text-success-content rounded-full text-lg font-semibold w-full"
      hx-get="/utils/close-flash"
      hx-target="#flash_user">
        {{ message }}
        <i class="fa-regular fa-circle-xmark"> </i>
      </button>
      {% endif %}
    </li>
    {% endfor %}
  </ul>

  <fieldset>
    <legend class="w-full py-3 text-center text-2xl font-bold text-accent">
      <i class="fa-solid fa-arrow-right-to-bracket px-2"></i>
      Log in with your account!
    </legend>

    <label class="form-control w-full max-w-xs">
      <div class="label">
        <span class="label-text text-base-content font-semibold">Username</span>
      </div>
      <input class="input input-bordered  w-full max-w-xs" 
      type="text" placeholder="Type here" name="username" id="username"
      />
      <div class="label">
      </div>
    </label>

    <label class="form-control w-full max-w-xs">
      <div class="label">
        <span class="label-text text-base-content font-semibold">Password</span>
      </div>
      <input class="input input-bordered  w-full max-w-xs" 
      type="password" placeholder="Type here" name="password" id="password"
      />
      <div class="label">
      </div>
    </label>
  </fieldset>
   
  <div class="flex justify-around pt-3">
    <button type="submit" formaction="/login"
    class="btn btn-secondary btn-sm rounded-xl font-bold"
    >
      Log in
    </button>
    <input type="submit" value="Sign up" formaction="/signup"
    class="btn btn-accent btn-sm rounded-xl font-bold"
    />
    <a class="btn btn-primary btn-sm rounded-xl font-bold"
    href="/contacts/show?page_p=1&birthday_p=0"
    >
      Back
    </a>
    {% if let Some(next) = next %}
    <input type="hidden" name="next" value="{{next}}" />
    {% endif %}
  </div>
</form>
    
{% endblock %}